/* Login.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: none;
}

.LoginPcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    font-family: 'Arial', sans-serif;
    background: url("../../ImagenesP/ImagenesLogin/FONDO.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.logoLogin{
    width: 60%;
    margin-bottom: 0px;
}

.LoginScontainer {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
}

.form1, .form2, .form3 {
    margin-bottom: 5px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #555;
}

form .div input[type="email"],
form .div input[type="password"],
form .div input[type="checkbox"] {
    display: block;
    margin: 0 auto 15px auto;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.input1:focus,
.input2:focus {
    border-color: #28523d;
    outline: none;
}

.text-dangerLogin {
    background: #fdecea;       /* Rojo claro */
    color: #b71c1c;            /* Rojo fuerte */
    border: 1px solid #f5c2c0; /* Borde sutil */
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    display: none; 
}

.text-dangerLogin.show {
    display: block; 
}

.boton2 {
    background-color: #53a77e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.boton2:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.boton2:hover:not(:disabled) {
    background-color: #3f8061;
}

.botonLogin1 {
    background-color: transparent;
    border: none;
    color: #356c52;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: underline;
}

.botonLogin1:hover {
    color: #1a3527;
}